.headline{
    font-weight: 300;
    color: $mainBlue;
    font-size: 1.9rem;

    @mixin atSmall{
        font-size: 2.875rem;
    }

    &--center{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    &--orange{
        color: $mainOrange;
    }

    &--small{
        font-size: 1.2rem;
        @mixin atSmall{
            font-size: 1.875rem;
        }
    }

    &--narrow{
        max-width: 500px;
    }

    &--light{
        font-weight: 100;
    }

    &--b-margin-small{
        margin-bottom: 0.5em;
    }
    &--b-margin-large{
        margin-bottom: 1.6em;
    }

    &--t-margin-until-medium{
        @mixin atMedium{
            margin-top: 0;
        }
    }

}